@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Raleway:wght@400;700&display=swap');

.Modal {
    background-color: #1a1a1a;
    color: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #2a2a2a;
    color: white;
    font-family: Plus Jakarta Sans;
  }
  
  textarea {
    resize: vertical; 
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .add-story-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-story-button:hover {
    background-color: #0056b3;
  }
  